* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a,
p {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #e1ede6;
  padding: 50px 0;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 576px) {
    flex-direction: column;
    gap: 20px;
  }
}

.header_ul {
  display: flex;
  gap: 40px;
  @media (max-width: 576px) {
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #c3d1c6;
    padding-top: 20px;
  }
  @media (max-width: 400px) {
    li {
      display: none;
    }
    a {
      display: block;
    }
  }
}

.header_meny {
  display: none;
}

.bird_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bird_img {
  width: clamp(12.188rem, -7.716rem + 55.29vw, 33.75rem);

  @media (max-width: 576px) {
    display: none;
  }
}

.bird_text {
  max-width: 540px;
  width: 100%;

  h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    max-width: 300px;
    width: 100%;

    span {
      color: #598d66;
    }
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    max-width: 330px;
    width: 100%;
  }
}

.btn {
  padding: 20px 60px;
  background-color: transparent;
  color: #598d66;
  border: 1px solid #598d66;
}

.produkt_wrapper {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  ul {
    display: flex;
    gap: 8px;
    margin: 5px;
  }
}
.index {
  padding: 10px 20px;
  font-size: 12px;
  background-color: #376b44;
  border-radius: 50px;
  color: #fff;
}

.stele {
  padding: 10px 20px;
  color: #000;
  font-size: 12px;
  background-color: #d4e8d9;
  border-radius: 50px;
}

.admin {
  padding: 10px 20px;
  color: #000;
  font-size: 12px;
  background-color: #d4e8d9;
  border-radius: 50px;
}

.produkt_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 0;
  gap: 20px;

  @media (max-width: 720px) {
    justify-content: center;
  }
}

.produkt_text {
  display: flex;
  justify-content: space-between;

  @media (max-width: 840px) {
    flex-direction: column;
  }
}

.produkt_card {
  background-color: #e1ede6;
  padding: 20px;
  max-width: clamp(17.5rem, 16.364rem + 5.68vw, 20.625rem);
  width: 100%;
  display: flex;
  flex-direction: column;

  p {
    color: #598d66;
  }

  h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
  }

  h4 {
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.tool {
  background-image: url(./img/pic_background.png);
  background-size: cover;
  height: 700px;
}

.tool_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.tool_text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: start;
  padding-top: 40px;
}
.tool__title {
  font-weight: 100;
  font-size: 20px;
  max-width: 500px;
  width: 100%;
  color: #fff;
}
.tool__img {
  width: 100%;
  max-width: 500px;
}

.tool_text {
  font-weight: 100;
  font-size: 20px;
  max-width: 500px;
  width: 100%;
  color: #fff;
}

.bth {
  max-width: 200px;
  width: 100%;
  margin: 10px;
  padding: 20px;
  background-color: #eedb6d;
  color: #2c2d35;
}

.box_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  @media (max-width: 860px) {
    flex-direction: column;
  }
}

.box_text {
  padding: 50px;
  margin-top: 50px;
  max-width: 630px;
  width: 100%;
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    margin: 20px 0;
  }
}

.ink {
  background-color: #e1ede6;
}

.ink_wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.ink_card1 {
  display: flex;
  gap: 30px;
}

.roblox {
  max-width: 350px;
  width: 100%;
}

.robloh {
  max-width: 199px;
  width: 100%;
}
